{% extends "layout.html" %}
{% block content %}

	<form method="POST" action="" id="registerationForm" class="p-2 pt-md-0 mt-1 pt-sm-3 mt-md-2 mt-lg-0" enctype="multipart/form-data">
        <div class="container col-md-12 col-lg-11">
            <div class="row">
                <h3 class="p-1">All Faces</h3>
            </div>
            
            <div class="line"></div>

            <div class="row">
                {% for person in persons: %}
                    <a class="col mb-2" href="{{ url_for('face', person_id=person.id) }}">
                        <div>
                            <div id="photoFaceFrame" class="shadow-lg p-3 bg-white rounded text-center">
                                <div>
                                    <img class="img-rounded listFaces" src="{{ url_for('static', filename='user_images/' + person.images[0].image_file) }}" alt="{{ person.name[16:] }}">
                                </div>
                                <h6 class="mt-1 mb-0 p-0">{{ person.name[16:] }}</h6>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>

        </div>
    </form>

{% endblock %}